In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('iris.csv')
print(df.head())
# type(df)
df.shape

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

(150, 5)

In [4]:
use = df.copy()
# total number of null values
use.isnull().sum()
#data from row 1 to 3 and only 2nd column
use.iloc[1:4,2:3]

   petal.length
1           1.4
2           1.3
3           1.5

In [ ]:
## drops the parameter (0) th label set in the dataset 
# use.drop(0)
# df.drop(0)      # these both will not effect actual dataset , as drop will return a new updated df.
# print(df)

# so we will use inplace method
use.drop(0,inplace=True)
print(use)